body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    text-align: right;
    position: relative;
}


header img.logo {
    display:block;
    position:relative;
    margin: 0;
    margin-top: -20px; 
    margin-bottom: -50px;
    width:7%;
    top: 30px;
    left: 140px
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(242, 242, 242);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery img {
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.h-fit {
    height: auto;
}



.cursor-grab {
    cursor: grab;
}
.main-swiper {
position: relative;
overflow: hidden;
}
.swiper {
    width: 100%;
}
.swiper-wrapper {
display: flex;
}
.swiper-slide {
flex-shrink: 0;
width: 100%;
display: flex;
justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}
.cursor-grab {
cursor: grab;
}

.swiper-scrollbar {
background: rgba(255, 255, 255, 0.8);
border-radius: 10px;
height: 8px;
margin-top: 0px; 
width: 100%; 
position: relative;
}

.swiper-scrollbar-drag {
background: pink;
border-radius: 10px;
height: 100%;
}


.garchig {
    text-align: center;
    font-size: 44px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    position: relative;
    top: 1090px; 
    left: 98%;
    transform: translate(-50%, -50%); 
    display: flex;
    width: 420px;
    padding: 50px 0;
    row-gap: 30px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    z-index: 10; 
}




.circular-progress {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 0deg, #ededed 0deg);
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
}

.progress-value {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: brown;
}




.slideshow-container {
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 20px 0;
}

.slideshow-track {
    display: flex;
    transition: transform 0.8s ease;
    gap: 20px;
}

.slideshow-image {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;
}

.slideshow-image img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 10; 
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button.left{
    left:0px;
    
    transform: translateY(-50%);
}

.nav-button.right {
    right: 8px; 
    
    transform: translateY(-50%);
}


.menu {
    position: relative;
    display: inline-block; 
    cursor:default; 
}

.menu-text {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color:#333;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}


.dropdown {
    display: inline; 
    position:absolute;
    top: 105%; 
    left: -100%;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5; 
    border-radius: 20px;
    transition: opacity 0.5s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
}

.menu:hover .dropdown {
    display: block; 
    opacity: 1; 
    visibility: visible; 
    border-radius: 20px;
}

.dropdown a {
    display: block; 
    padding: 10px 100px; 
    color: #333; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    border-radius: 20px;
}

.dropdown a:hover {
    background-color: rgb(217, 217, 217); 
    border-radius: 20px;
}

@media (max-width: 768px) {
    header img.logo {
        display:block;
        position:relative;
        margin: 0;
        margin-top: -20px; 
        margin-bottom: -20px;
        width:10%;
        top: 30px;
        left: 30px
    }

}
